@import "tailwindcss";
@font-face {
  font-family: 'NeueMachina';
  src: url('./fonts/PPNeueMachina-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('./fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'NeueMachina';
  src: url('./fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 800;
}

@theme {
  --font-machina: "NeueMachina", sans-serif;
}